section.about{
    background-color: var(--cor-de-fundo2);
}

.about__container{
    width: 60%;
    padding: 40px 150px;
    line-height: 18px;
}

.about__title{
    font-size: 32px;
}

@media (max-width: 768px) {
    .about__container{
        width: fit-content;
        padding: 35px;
        line-height: normal;
    }

    .about__title{
        font-size: 22px;
    }

    .about__paragraph{
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .about__container{
        padding: 5px 35px;
    }
}